
body {
    background: #F8F6F6;
    font-family: 'Kanit', sans-serif;
}

/*
    typo
*/

h1 {
    font-size: 2em;
    line-height: 1.3;
    padding: 30px;
    text-align: center;
    color:#333;
    font-family: 'Montserrat', sans-serif;
    
}
p {
    font-size: smaller;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}
#header {
    margin: 0 auto;
    width: 25rem;
    border-bottom: 1px solid #E2E0E0;
}

.nav {
    width: 100%;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
}

.faq {
    color:#333;
    cursor: hand;
}

.faq:hover {
    color: #FFC300;
    cursor: pointer;
}
/*
    containers
*/

#container-words {
    width: 25rem;
    margin: 0 auto;
    text-align: center;
}


/*
    flex box for guessed words
*/

.guess-word {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 10px 0;
}

.guess-letter {
    background: #fff;
    padding: 0;
    width: 4rem;
    height: 4rem;
    margin-top: 5px;
    line-height: 4rem;
    color: #444;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    border: 1px solid #E2E0E0;
    border-radius: 5px;
}

/*
    New game button
*/

.wrap {
    width: 200px;
    margin: 30px auto;
    text-align: center;
}

#new-game {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#new-game:hover {
	background-color:#5cbf2a;
}


/* 
    Keyboard Styles 
*/

#container-keyboard {
    width: 32rem; /* 32*/
    margin: 100px auto 0;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


#letterBox {
    margin-top: 100px;
    text-align: center;
}

.letter {
    float: left;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 2em;
    background-color: #fff;
    margin: 2px 2px;
    padding: 0.1em;
    text-align: center;
}

.letter:hover {
    background-color: #DADBDA;
    cursor: pointer;
}

.hiddenLetter {
    float: left;
    width: 2rem;
    height: 2rem;
    margin: 2px 0;
    font-size: 2em;
    padding: 0.1em;
}

/*
    styles for guesses
*/

.correct {
    background-color: #8EFA87;
}

.wrong {
    background-color: #c2c1c0;
}

.near {
    background-color: #F3FA87;
}

/*
    modal window styles
 */
 .hidden {
    display: none;
  }

 .close-modal {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }

 .modal {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: white;
    padding: 2rem 1rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.modal h3 {
    text-transform: uppercase;
    margin: 10px 0 20px;
}

.modal p, ul {
    font-size: 1rem;
    font-weight: normal;
    margin: 10px 0;
    text-align: left;
}
.modal .info {
    margin-top: 10px;
    border-top: 1px solid #E2E0E0;
    
}
.modal .info p {
    font-size: 0.8rem;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
  