
body {
    background: #28b487;
    font-family: 'Kanit', sans-serif;
}

/*
    typo
*/

h1 {
    font-size: 2em;
    line-height: 1.3;
    padding: 30px;
    text-align: center;
    color:#333;
    text-transform: uppercase;
}

/*
    containers
*/
#container-words {
    width: 480px;
    margin: 0 auto;
    text-align: center;
}

#container-keyboard {
    width: 650px;
    margin: 150px auto 0;
    text-align: center;
}

/*
    flex box for guessed words
*/
.guess-word {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 10px 0;
}

.guess-letter {
    background: #fff;
    padding: 0px;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    line-height: 80px;
    color: #444;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
}


/*
    styles for guesses
*/

.correct {
    background-color: #8EFA87;
    border: 1px solid #8EFA87;
}

.wrong {
    background-color: #c2c1c0;
    border: 1px solid #c2c1c0;
}

.near {
    background-color: #F3FA87;
    border: 1px solid #F3FA87;
}


/* 
    Keyboard Styles 
*/

#letterBox {
    margin-top: 100px;
    text-align: center;
}

.letter {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 2em;
    background-color: #fff;
    margin: 2px 1px;
    padding: 0.1em;
    text-align: center;
    cursor: hand;
}

.letter:hover {
    background-color: #DADBDA;
    cursor: pointer;
}

.hidden {
    float: left;
    width: 50px;
    height: 50px;
    margin: 2px 1px;
    font-size: 2em;
    padding: 0.1em;
}